# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

#development tools
run_app.py

# testing
/coverage
start-app.shnpm run dev


# next.js
/.next/
/out/
out

# production
/build
/temp-folder

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#temp-code
temp-code.txt
*.code