@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .box-shadow {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }
  .box-shadow-hover {
    box-shadow: 0px 100px 80px -5px rgba(0, 0, 0, 0.15);
  }
  .clip-path {
    clip-path: polygon(14% 0, 94% 11%, 88% 100%, 7% 100%);
  }
}

@layer components {
  .footer-link-svg {
    @apply mr-0 inline-block w-0 scale-[.5] opacity-0 duration-300  group-hover:mr-2 group-hover:w-[19px] group-hover:translate-x-1 group-hover:scale-[.75] group-hover:opacity-100;
  }
  .footer-link-wrapper {
    @apply mt-4 rounded-2xl bg-white px-5 py-3;
  }
  .footer-link {
    @apply inline-block font-poppins text-sm font-semibold;
  }
  .gsaSX {
    @apply mt-4 flex flex-row items-center gap-5 rounded-2xl bg-white px-4 py-3 sm:py-3 sm:px-5;
  }
  .AgjCXY {
    @apply font-poppins text-xs font-semibold text-brandMediumGrey/75 sm:text-sm;
  }
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

.bg-asset {
  background: url("../public/bg-asset.png");
}

.word-spacing {
  word-spacing: 0.1em;
  line-height: 2;
}

.word-spacing-trending {
  word-spacing: 0.25em;
  letter-spacing: 5px;
}

.slideshow .swiper-button-prev,
.slideshow .swiper-button-next {
  height: 70px;
  width: 70px;
  /* padding: 25px 60px; */
  color: #ffc038;
  /* background: #f7f7f7; */
  background: #004743;
  border: 5px solid #f7f7f7;
  border-radius: 999px;
  transition: 150ms ease;
  top: 69%;
}

.slideshow .swiper-button-prev,
.slideshow .swiper-rtl .swiper-button-next {
  bottom: 0;
  right: 100px;
  left: auto;
}

.slideshow .swiper-button-next,
.slideshow .swiper-rtl .swiper-button-prev {
  right: 50px;
}

/* .slideshow .swiper-button-prev::after {
  margin-right: 20px;
} */
.slideshow .swiper-button-prev::after,
.slideshow .swiper-button-next::after {
  font-size: 1.65em;
  font-weight: 600;
  font-family: "nerko one", sans-serif;
  text-align: center;
  /* margin-top: 0.05em; */
}
.slideshow .swiper-button-prev:hover,
.slideshow .swiper-button-next:hover {
  box-shadow: 0 0 20px -5px rgba(#141e27, 1);
}

.slideshow .swiper-button-next::after {
  content: ">";
  margin-left: 5px;
}

.slideshow .swiper-button-prev::after {
  content: "<";
  margin-left: -5px;
}

@media screen and (max-width: 640px) {
  .slideshow .swiper-button-next,
  .slideshow .swiper-button-prev {
    display: none;
  }
}
