@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #141e27;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .box-shadow {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }
  .box-shadow-hover {
    box-shadow: 0px 100px 80px -5px rgba(0, 0, 0, 0.15);
  }
  .clip-path {
    clip-path: polygon(14% 0, 94% 11%, 88% 100%, 7% 100%);
  }
}

:root {
  --blur: 4.06px;
  --spread: -2.9px;
  --horiz: -2.9px;
  --vert: 1.77574e-16px;
}

.cs-shadow {
  box-shadow: calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px
      calc(var(--spread)) rgba(0, 0, 0, 0.233),
    calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread))
      rgba(0, 0, 0, 0.2),
    calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread))
      rgba(0, 0, 0, 0.123),
    calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread))
      rgba(0, 0, 0, 0.076),
    calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread))
      rgba(0, 0, 0, 0.047),
    calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread))
      rgba(0, 0, 0, 0.028);
  border: 1px solid rgba(0, 0, 0, 0.068);
}

.cs-inset {
  -webkit-box-shadow: -92px 0px 43px -69px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -92px 0px 43px -69px rgba(0, 0, 0, 0.05);
  box-shadow: -92px 0px 43px -69px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
  .cs-inset {
    box-shadow: none;
  }
}
.loader {
  width: 40px;
  height: 40px;
  border: 2px solid #111111;
  border-bottom-color: #e7e7e7;
  border-left-color: #e7e7e7;
  border-right-color: #e7e7e7;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 500ms linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .footer-link-svg {
    @apply mr-0 inline-block opacity-0 duration-[175ms] group-hover:mr-3  group-hover:w-[19px] group-hover:translate-x-1 group-hover:scale-[.75] group-hover:opacity-100;
  }
  .footer-link-wrapper {
    @apply mt-2;
  }
  .footer-link {
    @apply inline-block rounded-2xl py-2 text-sm text-gray-600 duration-[175ms] hover:translate-x-2  hover:text-black;
  }
  .gsaSX {
    @apply mt-4 flex flex-col items-start gap-5 rounded-2xl px-4 py-3 sm:py-4 sm:px-5;
  }
  .AgjCXY {
    @apply text-brandMediumGrey/75 font-poppins text-xs font-semibold sm:text-sm;
  }
  .revert {
    display: table-cell;
  }
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.scrolled {
  padding-top: 0;
  padding-bottom: 0;
}

* {
  box-sizing: border-box;
}

.bg-asset {
  background: url('../public/bg-asset.png');
}

.word-spacing {
  word-spacing: 0.1em;
  line-height: 2;
}

.button-active {
  background: #000;
}

.button-inactive {
  background: #fff;
}

.button-active h3 {
  color: #fff;
}
.button-active p {
  color: rgba(255, 255, 255, 0.7);
}
.button-inactive h3 {
  color: #000;
}
.button-inactive p {
  color: rgba(0, 0, 0, 0.7);
}
.fill-both {
  animation-fill-mode: both;
}

.word-spacing-trending {
  word-spacing: 0.25em;
  letter-spacing: 3px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-active {
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* .slideshow {
  background: url("../public/2.png") no-repeat center center;
} */

.slideshow .swiper-button-prev,
.slideshow .swiper-button-next {
  top: 87%;
  left: 50%;
}

.slideshow .swiper-button-prev,
.slideshow .swiper-rtl .swiper-button-next {
  bottom: 0;
}

.slideshow .swiper-button-next,
.slideshow .swiper-rtl .swiper-button-prev {
  bottom: 0;
}

/* .slideshow .swiper-button-prev::after {
  margin-right: 20px;
} */
.slideshow .swiper-button-prev::after,
.slideshow .swiper-button-next::after {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 1em 2em;
  /* padding: 25px 60px; */
  color: #000;
  /* background: #f7f7f7; */
  border-radius: 13px;
  transition: 150ms ease;
  /* margin-top: 0.05em; */
}
.slideshow .swiper-button-prev:hover,
.slideshow .swiper-button-next:hover {
  box-shadow: 0 0 20px -5px rgba(#141e27, 1);
}

.slideshow .swiper-button-next::after {
  margin-right: -50px;
}

.slideshow .swiper-button-prev::after {
  margin-left: -50px;
}

@media screen and (max-width: 640px) {
  .slideshow .swiper-button-next,
  .slideshow .swiper-button-prev {
    display: none;
  }
}
